.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Remove hover effect on all headers */
h1, h2, h3, h4, h5, h6 {
  color: inherit; /* Ensures no color change on hover */
  text-decoration: none; /* Remove underline if any */
}
