/* Dashboard Page Styles */
.dashboard-container {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    margin-top: 100px;
  }
  
  .dashboard-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .dashboard-container button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dashboard-container button:hover {
    background-color: darkred;
  }
  